<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Occupancy At Brookvale!</title>
		<style>
			html, body {
				height: 100%;
				margin: 0;
				font-family: Arial, sans-serif;
			}
			.container {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				font-size: 48px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			{{ occupancy_percentage }}% Full
		</div>
	</body>
</html>
